
<div class="row">
  <div class="col-md-8 mx-auto">
    <form>
      <div class="mb-3">
        <label for="fi" class="form-label">name goes here !</label>
        <input [(ngModel)]="user.name" type="text" name="name"  class="form-control" id="fi" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="la" class="form-label">email goes here !</label>
        <input [(ngModel)]="user.email" type="text" name="email"  class="form-control" id="la" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="no" class="form-label">roles goes here !</label>
        <input [(ngModel)]="user.roles" type="text" name="roles"  class="form-control" id="no" aria-describedby="emailHelp">
      </div>

    </form>
  </div>
</div>
