
<nav class="navbar sticky-top navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Teletalk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="navy-item" *ngIf="visitingUser.roles?.includes('ADMIN')">
<!--      <li class="navy-item" >-->
        <a class="nav-link active" aria-current="page" routerLink="/employees">Employees</a>
      </li>
      <li class="navy-item" *ngIf="visitingUser.roles?.includes('ADMIN')">
<!--      <li class="navy-item" >-->
        <a class="nav-link active" aria-current="page" routerLink="/customers">Customers</a>
      </li>
      <li class="navy-item" *ngIf="visitingUser.roles?.includes('ADMIN')">
<!--      <li class="navy-item" >-->
        <a class="nav-link active" aria-current="page" routerLink="/users">Users</a>
      </li>
      <li class="navy-item" >
        <a class="nav-link active" aria-current="page" routerLink="/demo">Demo</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/logout" (click)="logout()">Logout</a>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="#">{{  visitingUser.roles?.[0] }}</a>
      </li>
    </ul>
  </div>
</nav>
