<!--<p>employee-details works!</p>-->

<!--<div class="row">-->
<!--  <div class="col-md-8 mx-auto">-->
<!--    <form>-->
<!--      <div class="mb-3">-->
<!--        <label for="fi" class="form-label">Title goes here !</label>-->
<!--        <input [(ngModel)]="" type="text" name="first_name"  class="form-control" id="fi" aria-describedby="emailHelp">-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="la" class="form-label">Title goes here !</label>-->
<!--        <input [(ngModel)]="" type="text" name="last_name"  class="form-control" id="la" aria-describedby="emailHelp">-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="job" class="form-label">Title goes here !</label>-->
<!--        <input [(ngModel)]="" type="text" name="job_title"  class="form-control" id="job" aria-describedby="emailHelp">-->
<!--      </div>-->

<!--    </form>-->
<!--  </div>-->
<!--</div>-->
