<h3 class="my-5 text-center text-primary">Employee Table</h3>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <h4>Filter information - </h4>
  </div>
  <div class="col-md-3">
    <form>
      <input type="text" name="searchText" placeholder="filter by name"
             [(ngModel)]="searchText" class="form-control" >
    </form>
  </div>
  <div class="col-md-3"></div>
</div>

<hr>
<div class="row">
  <div class="col"  *ngFor="let employee of employees | filter:searchText">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{employee?.first_name}}</h5>
        <h5 class="card-title">{{employee?.last_name}}</h5>
        <p class="card-text">{{employee.job_title}}</p>
      </div>
      <div class="card-footer" >
        <a class="btn btn-warning btn-sm"  routerLink="/employees/{{ employee.employee_id}}">
          View
        </a>
      </div>

    </div>
    <br>
  </div>
</div>

